In [1]:
#1
a, b = map(int,input().split())

if a > b:
    print('>')
elif a < b:
    print('<')
else:
    print('==')

5 7
<

In [2]:
#2
import sys
score = int(input())

if(score<=100 and score>=90):
    print("A")
elif(score<=89 and score>=80):
    print("B")
elif(score<=79 and score>=70):
    print("C")
elif(score<=69 and score>=60):
    print("D")
else:
    print("F")

83
B

In [3]:
#3
sum = int(input())

if(sum%4==0):
   if(sum%100==0):
       if(sum%400==0):
            print("1")
       else:
            print("0")
   else:
        print("1")       
else:
    print("0")

433
0

In [4]:
#4
a = int(input())
b = int(input())

if(a>0):
    if(b>0):
        print(1)
    else:
        print(4)
else:
    if(b>0):
        print(2)
    else:
        print(3)

5
-4
4

In [5]:
#5
h, m = map(int, input().split())

if m>44:
    print(h, m-45)
elif m<45 and h>0:
    print(h-1, m+15)
else:
    print(23, m+15)

11 24
10 39