In [9]:
#1
n = int(input())
a = []
for i in range(n):
  a.append(list(map(int, input().split())))

a.sort(key=lambda x: (x[0], x[1]))

for i in a:
  for j in i:
    print(j, end=' ')
  print()

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

In [10]:
#2
n = int(input())
a = []
for i in range(n):
  a.append(list(map(int, input().split())))

a.sort(key=lambda x: (x[1], x[0]))

for i in a:
  for j in i:
    print(j, end=' ')
  print()

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

In [32]:
#3
n = int(input())
word = []
for i in range(n):
  word.append(input())

set_word = list(set(word))
sorted_word = []
for i in set_word:
  sorted_word.append((len(i), i))

result = sorted(sorted_word)

for len_word, word in result:
  print(word)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

In [21]:
#4
n = int(input())
a = []
for i in range(n):
  age, name = map(str, input().split())
  age = int(age)
  a.append((age, name))

a.sort(key=lambda x: (x[0]))

for i in a:
  print(i[0], i[1])

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

In [31]:
#5
n = int(input())

a = list(map(int, input().split()))
aa = sorted(list(set(a)))
aaa = {aa[i] : i for i in range(len(aa))}
for i in a:
  print(aaa[i], end = ' ')

5
2 4 -10 4 -9
2 3 0 3 1